<app-nurse></app-nurse>

<div fxLayoutAlign="center left" fxFlexFill class="main-div">
  <mat-card style="margin-top: 1cm;">
    <form fxLayout="standard" [formGroup]="vitalForm" (ngSubmit)="addVitals()">
      <div fxLayout="column">
        <div fxLayoutGap="15px">

          <div>
            <mat-toolbar color="primary" style="width: 11.05cm; margin-bottom: 0.5cm;">Enter Vital Parameters
            </mat-toolbar>
          </div>
          <mat-form-field appearance="fill" class="row-1">
            <mat-label>Enter Age</mat-label>
            <input matInput name="age" formControlName="Age">
          </mat-form-field>
          <mat-form-field appearance="fill" class="row-1">
            <mat-label>Enter Height</mat-label>
            <input matInput name="height" formControlName="Height">

          </mat-form-field>
        </div>
        <div fxLayoutGap="15px">
          <mat-form-field appearance="fill">
            <mat-label>Enter Weight</mat-label>
            <input matInput name="weight" formControlName="Weight">

          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter Heart Rate</mat-label>
            <input matInput name="heartrate" formControlName="HeartRate">

          </mat-form-field>
        </div>
        <div fxLayoutGap="15px">
          <mat-form-field appearance="fill">
            <mat-label>Enter Blood Pressure</mat-label>
            <input matInput name="bloodpressure" formControlName="BloodPressure">

          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Enter SpO2</mat-label>
            <input matInput name="spo2" formControlName="SpO2">

          </mat-form-field>
        </div>

        <div fxLayoutGap="15px">
          <mat-form-field appearance="fill">
            <mat-label>Enter Respiratory Rate</mat-label>
            <input matInput name="resrate" formControlName="ResRate">

          </mat-form-field>
          <mat-form-field appearance="fill" class="row-1">
            <mat-label>Enter Body Temperature</mat-label>
            <input matInput name="temp" formControlName="Temperature">

          </mat-form-field>
        </div>


        <button class="btn btn-outline-primary" type="submit" style="width: fit-content;">Enter Vital Parameters</button>
      </div>

    </form>
  </mat-card>

</div>
